<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="CLDevelopment" value="https://pkgs.dev.azure.com/centrallogic/5382f449-0010-42cd-9ab0-807473a7c480/_packaging/CLDevelopment/nuget/v3/index.json" />
		<add key="LocalDevelopment" value="C:\Local_DevNuget" />
	</packageSources>
	<config>
		<add key="defaultPushSource" value="C:\Local_DevNuget" />
		<add key="repositoryPath" value="packages" />
	</config>
</configuration>